/*Estilos seccion _NAV*/

body {
    width: 100%;
}

.nav {
    border-bottom: 1px solid orangered;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: black;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    font-family: Helvetica, sans-serif;
    clear: right;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    line-height: 70px;
    border: 3px solid black;
    transition: all 0.5s ease;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.7;
}

.menu a:hover {
    border-radius: 35px;
    background-color: #ff681f;
    color: #fff !important;
    border: 3px solid #ff681f;
    transition: all 0.5s ease;
    padding-right: 7px;
    padding-left: 7px;
}

label {
    margin-right: 0px;
    padding-right: 20px;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 40px;
    float: right;
    background-color: #ff681f;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 800px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        border-radius: 35px;
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        background-color: black;
    }
    .menu a:hover {
        transition: all 0.5s ease;
    }
    #toggle:checked+.menu {
        display: block;
    }
}


/*Fin estilos seccion NAV*/


/*Estilos seccion header*/

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
}

.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

.logo {
    margin: 0px;
    height: 80px;
    float: left;
}

.logo1 {
    margin: 0px;
    float: left;
    width: 300px;
    height: 260px;
}

@media (min-aspect-ratio:16/9) {
    .slogan {
        position: relative;
        text-align: center;
        font-family: 'Roboto Mono';
        color: #fff;
        top: 150px;
        width: auto;
        transition: all 0.5s ease;
    }
}

@media (max-aspect-ratio:16/9) {
    .slogan {
        position: relative;
        text-align: center;
        font-family: 'Roboto Mono';
        color: #fff;
        top: 370px;
        width: auto;
        transition: all 0.5s ease;
    }
}

@media (min-aspect-ratio:16/9) {
    .slogan h1 {
        font-family: 'Roboto Mono';
        background-color: #ff681f;
        opacity: 0.7;
        font-size: 80px;
        font-weight: 100;
        letter-spacing: 5px;
        margin-bottom: 30px;
        width: auto;
        text-align: center;
    }
}

@media (max-aspect-ratio:16/9) {
    .slogan h1 {
        font-family: 'Roboto Mono';
        background-color: #ff681f;
        opacity: 0.7;
        font-size: 40px;
        font-weight: 100;
        letter-spacing: 5px;
        margin-bottom: 30px;
        width: auto;
        text-align: center;
    }
}


/*Fin estilos seccion header*/


/*Estilos seccion breve introduccion*/

.descripcion {
    color: white;
    background-color: black;
    font-family: Helvetica, sans-serif;
    height: 20%;
    margin-top: -71px;
    padding-bottom: 1px;
}

.p1 {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    text-align: center;
    width: 1353px;
    margin-left: -20px;
    color: #fff;
}

.p2 {
    margin-top: -230px;
    padding-right: 0px;
    margin-left: -210px;
    margin-right: 230px;
}

.p3 {
    margin-top: -180px;
}

.p4 {
    margin-top: -229px;
    margin-left: 200px;
    margin-right: -200px;
}

.video {
    display: flex;
    justify-content: center;
}

.modulo_descripcion {
    padding-top: 40px;
    color: white;
    padding-bottom: 15px;
}

.descripcion img {
    opacity: 0.2;
    filter: alpha(opacity=80);
}

#pl1 {
    position: absolute;
    top: 850px;
    text-align: center;
    margin-left: 530px;
}

#pl2 {
    position: absolute;
    top: 900px;
    width: 20px;
    text-align: justify;
}


/*fin estilos seccion breve introduccion*/


/* Css Seccion eventos*/

.all {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 50px;
    margin-right: 00px;
    margin-top: -60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.modulo_evento {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

a {
    color: white;
}

.evento_1 {
    text-align: center;
    width: 299.5px;
    height: 350px;
    color: white;
    margin-top: 100px;
    margin-right: 70px;
    background-color: rgba(246, 65, 0, 0.8);
}

h2 {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.evento_2 {
    text-align: center;
    width: 299.5px;
    height: 350px;
    color: white;
    margin-top: 100px;
    margin-right: 70px;
    background-color: rgba(246, 65, 0, 0.8);
}

.evento_3 {
    text-align: center;
    width: 299.5px;
    height: 350px;
    color: white;
    margin-top: 100px;
    margin-right: 70px;
    background-color: rgba(246, 65, 0, 0.8);
}

@media (min-aspect-ratio:16/9) {
    .con {
        background-image: url(images/P7_1.jpg);
        height: 450px;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-top: 0px;
        padding-top: 20px;
    }
}


/* Fin CSS de seccion eventos*/


/*Estilos newsletter*/

.newsletter {
    border: 2px solid black;
    width: auto;
    padding: 50px;
    color: white;
    background-color: #0d0d0d;
}

.newsletter h2 {
    text-align: center;
    margin-bottom: 25px;
    border-bottom-color: hotpink;
}

.textonews p {
    text-align: center;
}

.news {
    text-align: center;
    margin-top: 80px;
}


/*Fin estilos newsletter*/


/*Estilos seccion Que hacemos*/

.que_hacemos {
    background-color: black;
    padding: 25px;
    height: 500px;
}

.que_hacemos h2 {
    text-align: center;
    color: white;
}

.q_h_contenedor {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.q_h_contenedor img {
    width: 40%;
}

.texto_q_h {
    width: 40%;
    color: white;
    text-align: center;
}


/*Fin estilos Que hacemos*/


/*Estilos de  redes sociales*/

.redes_sociales {
    display: block;
    background-color: #0d0d0d;
    padding-top: 50px;
    height: 450px;
    width: 100%;
    text-align: center;
    color: white;
    height: 250px;
}

.redes_sociales h2 {
    color: white;
}

.contenedor_r_s {
    width: 100%;
    padding-top: 10px;
    height: 350px;
    text-align: center;
}


/*Fin estilos redes sociales*/


/*Estilos Footer*/

footer {
    background-color: black;
    height: 130px;
    text-align: center;
}

footer p {
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

footer a {
    color: #f05200;
}

.to-top {
    color: white;
    padding-top: 1.8em;
    display: inline-block;
    /* or block */
    position: relative;
    border-color: white;
    text-decoration: none;
    transition: all .3s ease-out;
}

.to-top:before {
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em white;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in;
}

.to-top:hover {
    color: #f05200;
    border-color: #f05200;
}

.to-top:hover:before {
    transform: rotate(360deg);
}


/*Fin estilos footer*/