/*Estilos seccion _NAV*/

.nav {
    border-bottom: 1px solid orangered;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: black;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: orangered;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: orangered;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 40px;
    float: right;
    background-color: orangered;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        background-color: black;
    }
    #toggle:checked+.menu {
        display: block;
    }
}


/*Fin estilos seccion NAV*/


/*Estilos seccion header*/

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
}

.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

.logo {
    margin: 0px;
    height: 80px;
    float: left;
}

@media (min-aspect-ratio:16/9) {
    .slogan {
        position: relative;
        text-align: center;
        font-family: 'Roboto Mono';
        color: #fff;
        top: 150px;
        width: auto;
    }
}

@media (min-aspect-ratio:16/9) {
    .slogan h1 {
        font-family: 'Roboto Mono';
        background-color: orangered;
        opacity: 0.7;
        font-size: 80px;
        font-weight: 100;
        letter-spacing: 5px;
        margin-bottom: 30px;
        width: auto;
        text-align: center;
    }
}


/*Fin estilos seccion header*/


/*Estilos seccion breve introduccion*/

.descripcion {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
    margin-top: -60px;
}

.video {
    display: flex;
    justify-content: center;
}

.modulo_descripcion {
    padding-top: 40px;
    color: rgba(246, 65, 0, 7);
}

.descripcion img {
    opacity: 0.2;
    filter: alpha(opacity=80);
}

#pl1 {
    position: absolute;
    top: 850px;
    text-align: center;
    margin-left: 530px;
}

#pl2 {
    position: absolute;
    top: 900px;
    width: 20px;
    text-align: justify;
}


/*fin estilos seccion breve introduccion*/


/* Css Seccion eventos*/

.all {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 50px;
    margin-right: 00px;
    margin-top: -60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.modulo_evento {
    text-align: center;
    color: rgba(246, 65, 0);
    text-decoration: underline;
    padding-bottom: 20px;
}

a {
    color: white;
}

.evento_1 {
    text-align: center;
    width: 299.5px;
    height: 350px;
    color: white;
    margin-top: 100px;
    margin-right: 70px;
    background-color: rgba(246, 65, 0, 0.8);
}

h2 {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.evento_2 {
    text-align: center;
    width: 299.5px;
    height: 350px;
    color: white;
    margin-top: 100px;
    margin-right: 70px;
    background-color: rgba(246, 65, 0, 0.8);
}

.evento_3 {
    text-align: center;
    width: 299.5px;
    height: 350px;
    color: white;
    margin-top: 100px;
    margin-right: 70px;
    background-color: rgba(246, 65, 0, 0.8);
}

.con {
    background-image: url(P7_1.jpg);
    height: 450px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 0px;
    padding-top: 20px;
}


/* Fin CSS de seccion eventos*/


/*Estilos newsletter*/

.newsletter {
    border: 2px solid black;
    width: auto;
    background-color: #1c1c1c;
    padding: 50px;
    color: goldenrod;
}

.newsletter h2 {
    text-align: center;
    margin-bottom: 25px;
    border-bottom-color: hotpink;
}

.textonews p {
    text-align: center;
}

.news {
    text-align: center;
    margin-top: 80px;
}


/*Fin estilos newsletter*/


/*Estilos seccion eventos pasados*/


/*Fin estilos eventos pasados*/


/*Estilos seccion Que hacemos*/


/*Fin estilos Que hacemos*/


/*Estilos de  redes sociales*/

.redes_sociales {
    display: block;
    background-color: #1c1c1c;
    padding-top: 50px;
    height: 450px;
    width: 100%;
}

.invitacion_r_s {
    text-align: center;
    color: blue;
    font-size: 28px;
    height: 50px;
    padding-top: 40px;
    margin-top: 0;
}

.contenedor_r_s {
    width: 100%;
    padding-top: 10px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.contenedor_r_s div {
    width: 100% align-self: center;
}


/*Fin estilos redes sociales*/


/*Fin estilos redes sociales*/


/*Estilos Footer*/


/*Fin estilos footer*/